.wrapper {
  max-width: 75rem;
  margin: 0 auto;

  @media (max-width: 1220px) {
    max-width: 95%;
  }
}

.mobile-only {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

.btn-primary {
  height: 54px;
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--primary); */
  color: var(--white);
  font-size: 1.125rem;
}
