---
const {label} = Astro.props;

---

<a href="#" class="is-primary btn-primary button">{label}</a>

<style>
.btn-primary {
  height: 54px;
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--primary); */
  color: var(--white);
  font-size: 1.125rem;
}

</style>
