---
import 'bulma/css/bulma.css';
import '../styles/base.css';
import '../styles/fonts.css';
import '../styles/variables.css';
import '../styles/utilities.css';
---

<!doctype html>
<html lang="ro" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Oxy Handmade</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
  body {
    font-family: OutfitRegular;
    max-width: 100vw;
  }
</style>
