<!doctype html>
<html lang="ro">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
  @import '../styles/base.css';
  @import '../styles/fonts.css';
  @import '../styles/variables.css';

  @import 'bulma/css/bulma.css';

  body {
    font-family: OutfitRegular;
    max-width: 100vw;
  }

  .wrapper {
    max-width: 75rem;
    margin: 0 auto;

    @media (max-width: 1220px) {
      max-width: 95%;
    }
  }

  @media (max-width: 768px) {
    .mobile-only {
      display: block;
    }
  }
</style>
